<div class='setup_c_content'>
		<a class='app_opt status_btn' id='appsetup'>
			<span></span>
			<p>应用管理</p>
		</a>
		<a class='fast_set' id='fast_set' href='<%=pcdata(luci.dispatcher.build_url("admin/xcloud/fastsetup"))%>'>
			<span></span>
			<p>快速设置</p>
		</a>
		<a href='<%=pcdata(luci.dispatcher.build_url("admin/status"))%>' id='adv_set' class='adv_set'>
			<span></span>
			<p>高级设置</p>
		</a>
		<a class='usb_opt status_btn' id='usbinfo'>
			<span></span>
			<p>USB管理</p>
		</a>
		<a class='file_view status_btn' id='fileview'>
			<span></span>
			<p>文件查看</p>
		</a>
		<a class='wdsopt status_btn' id='wdsopt'>
			<span></span>
			<p>无线中继</p>
		</a>
		<a class='upgrade status_btn' id='firmware'>
			<span></span>
			<p>固件升级</p>
		</a>
</div>