<div class='setup_c_content'>
		<a class='app_opt status_btn' id='set_network'>
			<span></span>
			<p>外网设置</p>
		</a>
		<a class='fast_set status_btn' id='set_wifi'>
			<span></span>
			<p>无线设置</p>
		</a>
		<a id='advance_settings' class='adv_set status_btn'>
			<span></span>
			<p>高级设置</p>
		</a>
		<a class='usb_opt status_btn' id='usbinfo'>
			<span></span>
			<p>USB管理</p>
		</a>
		<a class='file_view status_btn' id='fileview'>
			<span></span>
			<p>文件查看</p>
		</a>
		<a class='wdsopt status_btn' id='device_list'>
			<span></span>
			<p>连接的设备</p>
		</a>
		<a class='upgrade status_btn' id='system_state'>
			<span></span>
			<p>系统状态</p>
		</a>
</div>